<div class="auth-wrapper">
    <div class="authentication">
        <h2>MyTasks</h2>
        <h4>Sign in to your account</h4>
        <form action="/login" method="post">
            <div class="labels-wrapper">
                <div class="auth-labels">
                    <label>Username</label><br/>
                    <input type="text" name="username"/>
                </div>
                <div class="auth-labels">
                    <label>Password</label><br/>
                    <input type="password" name="password"/>
                </div>
            </div>
            <div class="successMsg">{{success}}</div>
            <div class="errorMsg">{{errorStatus}}</div>
            <div class="auth-btn">
                <input type="submit" value="Sign In"/>
            </div>
        </form>
        <a href="/register">Create an account</a>
    </div>
</div>