<div class="auth-wrapper">
    <h3>Task Manager</h3>
    <h4>Sign into your account</h4>
    <form action="/login" method="post">
        <div class="auth-labels">
            <label>Username</label><br/>
            <input type="text" name="username"/>
        </div>
        <div class="auth-labels">
            <label>Password</label><br/>
            <input type="password" name="password"/>
        </div>
        <div class="auth-btn">
            <input type="submit" value="Sign In"/>
        </div>
    </form>
    <a href="/register">Create an account</a>
</div>
