<div class="container">
<h1>{{title}}</h1>

<ul class="nav nav-tabs">
    <li><a href="/">Add Task</a></li>
    <li class="active"><a href="/tasks">Tasks</a></li>
</ul><br/>

<div class="row">
<div class="col-md-6">
    <table class="table table-striped table-bordered table-hover table-condensed" id="tasks">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Priority</th>
            <th>Category</th>
            <th>Status</th>
        </tr>
    </table>
</div>
<script src="javascripts/tasks.js"></script>