body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.td-title {
  min-width: 100px;
}

.td-description {
  min-width: 150px;
  max-width: 200px;
}

.td-datefrom{
  min-width: 125px;
}

.td-dateto{
  min-width: 125px;
}

.td-status {
  min-width: 85px;
}