body {
	background-color: #cfe9ff;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: grid;
	justify-content: center;
}

/* login/register pages */
a {
	color: #0583e0;
}

.auth-wrapper {
	padding: 30px 0;
}

h2 {
	margin: 30px 0;
}

h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0;
}

.labels-wrapper {
	padding-bottom: 10px;
}

.auth-labels {
	padding: 10px 0;
}

.auth-labels label {
	margin-bottom: 6px;
}

.auth-labels input {
	background-color: transparent;
    color: #636363;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #bfbfbf 1px;
	padding: 5px 10px;
	width: 234px;
}

.auth-btn {
	padding: 20px 0 30px;
}

.auth-btn input {
	padding: 3px 10px;
}

.successMsg {
	color: #128212;
	line-height: 32px;
}

.errorMsg {
	color: #de0c0c;
	line-height: 32px;
}

/* add task page */
.nav-content {
	float: right;
    justify-content: space-between;
    display: flex;
    width: 208px;
    padding: 10px 15px;
    border: solid 1px #acacac;
    border-radius: 4px;
}

.non-active:hover {
	color: #2b4fa5 !important;
	background-color: #d0d0d0 !important;
	border: solid 1px #acacac !important;
}

#submitForm {
	margin-top: 5px;
}

@-moz-document url-prefix() {
	#submitForm {
		margin-top: 20px;
	}
}

.col-sm-2{
	font-size: 16px;
	padding: 8px;
	margin: 0;
	width: 150px;
}

.form-group {
	width: 450px;
}

.form-control {
	width: 300px;
	background-color: #fcfeff;
}

.col-sm-10 {
	display: contents;
	width: 200px;
	margin-bottom: 10px;
}

#radio-buttons {
	display: table-caption;  
	width: 300px;
	justify-content: space-between;
	vertical-align: bottom;	
	margin: 10px 0;
	padding-left: 5px;
}

#radio-buttons label {
	margin: 0 8px 0 0;
	padding: 3px 3px 3px 2px;	
	height: 22px;
    line-height: 10px;
	vertical-align: middle;
	font-weight: 500;
}

#radio-buttons input {
	margin-top: 2px;
}

#priority-wrapper {
	display: block;
	margin-top: 19px;
	margin-bottom: 19px;
}

#priorityLabel {
	padding: 0 8px;
}

#priorityOutputId {
	display: inline-block;
	width: 10px;
	line-height: 0;
	font-size: 20px;
	padding-left: 15px;
	vertical-align: sub;
}

input[type=range] {
	display: inline-block;
	width: 55%;
	vertical-align: middle;
	-webkit-appearance: none;
	height: 5px;
	background: #dadada;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

input[type=range]::-moz-range-thumb {
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

input[type=range]::-ms-thumb {
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

#btn-wrapper {
	display: inline-grid;
	justify-content: end;
	width: 450px;
}

#btn-wrapper button {
	outline: none;
}

.alert {
	padding: 10px 15px;
}

/* tasks page */
.container {
	width: 970px;
	padding: 0;
}

.nav-tabs {
	border-color: #acacac;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #565656;
	background-color: #cfe9ff;
	border-top-color: #acacac;
    border-left-color: #acacac;
    border-right-color: #acacac;
}

#tasks tr th {
	border-color: #acacac;
}

#tasks tr td {
	background-color: #fcfeff;
	color: #505050;
	border-color: #acacac;
}

.th-title {
	width: 250px;
}

.th-date {
	width: 125px;
}

.th-priority {
	width: 61px;
}

.th-category {
	width: 118px;
}

.th-status {
	width: 84px;
}

.col-md-6 {
	margin-top: 5px;
	padding: 0;
	min-width: 970px;
}

.td-btn {
	padding: 3px;
}

.th-remove {
	width: 74px;
}

.deleteBtn {
	font-size: 12px;
	padding: 4px 8px;
	outline: none;
}

#statusMsg {
	margin-top: 20px;
}

.alert-success {
	border-color: #85bf86;
}

.alert-danger {
	border-color: #d48887;
}

@media only screen and (max-width: 992px) {
	.container {
		width: 740px;
	}

	.col-md-6 {
		min-width: 740px;
	}

	.th-title {
		width: 105px;
	}

	.th-category {
		width: 76px;
	}
}

@media only screen and (max-width: 767px) {
	body {
		padding: 15px;
		display: block;
	}

	.auth-wrapper {
		margin: auto;
    	width: fit-content;
	}

	#main-wrapper {
		margin: auto;
		padding: 25px 0;
	}

	.container {
		width: 100%;
		padding: 0;
	}

	.form-group {
		width: 100%;
	}

	.control-label {
		display: inline-block;
		width: 30%;
		max-width: 350px;
		margin: 0 auto;
	}

	.form-control {
		display: inline-block;
		width: 65%;
		max-width: 350px;
		margin: 0 auto;
	}	

	#status {
		display: inline-block;
	}

	#radio-buttons {
		display: inline;
		padding-left: 0;
		font-size: 12px;
	}

	#btn-wrapper {
		display: inline-block;
		text-align: center;
		width: 100%;
	}

	/* Tasks Page */
	.container {
		padding: 25px 0;
	}

	tr th, tr td {
		padding: 4px 3px;
	}

	.th-title, .th-date, .th-priority, .th-category, .th-status, .th-remove {
		width: 100%;
	}
	
	.col-md-6 {
		margin-top: 5px;
		padding: 0;
		min-width: 0;
	}
	
	.td-btn {
		padding: 3px;
	}	
	
	#statusMsg {
		margin-top: 20px;
	}

	#btn-wrapper {
		width: 300px;
	}

	#statusMsg {
		width: 385px;
	}
}

@media only screen and (max-width: 576px) {
	h1 {
		font-size: 32px;
	}

	.col-sm-2 {
		font-size: 14px;
	}

	table {
		font-size: 8px;
	}

	.deleteBtn {
		font-size: 8px;
		padding: 2px 3px;
		outline: none;
	}
}

/* loader */
#loader-wrapper {
	position: relative;
	text-align: -webkit-center;
	text-align: -moz-center;
    height: 150px;
}

#loader {
	position: relative;
    top: 100px;
	border: 7px solid #fcfeff;
	border-radius: 50%;
	border-top: 7px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}