body {
	background-color: #cfe9ff;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	display: grid;
	justify-content: center;
}

/* login/register pages */
a {
	color: #0583e0;
}

.auth-wrapper {
	padding: 30px 0;
}

h2 {
	margin: 30px 0;
}

h4 {
	font-size: 16px;
	font-weight: 600;
	margin: 15px 0;
}

.labels-wrapper {
	padding-bottom: 10px;
}

.auth-labels {
	padding: 10px 0;
}

.auth-labels label {
	margin-bottom: 6px;
}

.auth-labels input {
	background-color: transparent;
    color: #636363;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #bfbfbf 1px;
	padding: 5px 10px;
	width: 234px;
}

.auth-btn {
	padding: 20px 0 30px;
}

.auth-btn input {
	padding: 3px 10px;
}

.successMsg {
	color: #128212;
	line-height: 32px;
}

.errorMsg {
	color: #de0c0c;
	line-height: 32px;
}

/* add task page */
.nav-content {
	float: right;
    justify-content: space-between;
    display: flex;
    width: 208px;
    padding: 10px 15px;
    border: solid 1px #acacac;
    border-radius: 4px;
}

.non-active:hover {
	color: #2b4fa5 !important;
	background-color: #d0d0d0 !important;
	border: solid 1px #acacac !important;
}

#submitForm {
	margin-top: 5px;
}

@-moz-document url-prefix() {
	#submitForm {
		margin-top: 20px;
	}
}

.col-sm-2{
	font-size: 16px;
	padding: 8px;
	margin: 0;
	width: 150px;
}

.form-group {
	width: 450px;
}

.form-control {
	width: 300px;
	background-color: #fcfeff;
}

.col-sm-10 {
	display: contents;
	width: 200px;
	margin-bottom: 10px;
}

#radio-buttons {
	display: table-caption;  
	width: 300px;
	justify-content: space-between;
	vertical-align: middle;
	margin: 9px 0;
	padding: 0 15px;
}

#radio-buttons label {
	margin: 0 8px 0 0;
	padding: 3px 3px 3px 2px;	
	height: 22px;
    line-height: 10px;
    vertical-align: middle;
}

#radio-buttons input {
	margin-top: 2px;
}

#priority-wrapper {
	display: flex;
	margin-top: 19px;
	margin-bottom: 19px;
}

#priorityLabel {
	margin-top: 9px;
}

#priorityOutputId {
	display: inline-block;
	width: 10px;
	line-height: 0;
	font-size: 20px;
	padding-left: 15px;
}

input[type=range] {
	width: 265px;
	-webkit-appearance: none;
	height: 5px;
	background: #dadada;
	border-radius: 10px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

input[type=range]::-moz-range-thumb {
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

input[type=range]::-ms-thumb {
	appearance: none;
	width: 15px;
	height: 30px;
	background: #337ab7;
	border: solid 1px #2e6da4;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.4);
}

#btn-wrapper {
	display: inline-grid;
	justify-content: end;
	width: 450px;
}

.alert {
	padding: 10px 15px;
}

/* tasks page */
.container {
	width: 970px;
	padding: 0;
}

.nav-tabs {
	border-color: #acacac;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: #565656;
	background-color: #cfe9ff;
	border-top-color: #acacac;
    border-left-color: #acacac;
    border-right-color: #acacac;
}

#tasks tr th {
	border-color: #acacac;
}

#tasks tr td {
	background-color: #fcfeff;
	color: #505050;
	border-color: #acacac;
}

.td-datefrom{
	min-width: 125px;
	max-width: 135px;
}

.td-dateto{
	min-width: 125px;
	max-width: 135px;
}

.td-status {
	min-width: 85px;
}

.col-md-6 {
	margin-top: 5px;
	padding: 0;
	min-width: 970px;
}

.td-btn {
	width: 65px;
	padding: 3px;
	font-size: 12px
}

#remove-th {
	width: 66px;
}

.deleteBtn {
	width: 100%;
	min-width: 55px;
	padding: 2px 3px 1px;
}

#statusMsg {
	margin-top: 20px;
}

.alert-success {
	border-color: #85bf86;
}

.alert-danger {
	border-color: #d48887;
}

@media only screen and (max-width: 992px) {
	.container {
		width: 740px;
	}

	.col-md-6 {
		min-width: 740px;
	}
}

@media only screen and (max-width: 767px) {
	#status {
		display: block;
	}

	#btn-wrapper {
		width: 300px;
	}

	#statusMsg {
		width: 385px;
	}
}


/* loader */
#loader-wrapper {
	position: relative;
	text-align: -webkit-center;
    height: 150px;
}

#loader {
	position: relative;
    top: 100px;
	border: 7px solid #fcfeff;
	border-radius: 50%;
	border-top: 7px solid #3498db;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}